*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    background-color: #16474e;
}
h1, p{
    display: flex;
    flex-direction: column;
    color: #ffff;
    font-family: sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin-top: 5px;
}
